<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pragprog Books Online </title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Depot</a>
      <ul class="nav">
        <li class="active"><%= link_to "Home", store_path %></li>
        <li><%= link_to 'Catlogue', products_path %></li>
        <li><%= link_to 'New Product', new_product_path %></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">

      <!-- Sidebar Start -->
      <div class="span3">
        <div id="sidebar">
          <h3> About us </h3>
          <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
      </div>
      <!-- Sidebar End -->

      <!-- Main Content Start -->      
      <div class="span9">
        <div id="main">
          <%= yield %>

        </div>
      </div>
      <!-- Main Content End -->  

    </div>
  </div> 
</body>
</html>
